h1 {
  border-block-end-color: black;
  border: solid;
  background-color: dodgerblue;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: white;
  font-size: 30px; 
}

.body{
    color: white; 
    font-size: 30px; 
    background-image: url(/assets/img/Anillos_lectura.jpg) ;
     /* Fijar la imagen de fondo este vertical y
        horizontalmente y centrado */
    background-position: 60% 10%;

    /* Esta imagen no debe de repetirse */
    background-repeat: no-repeat;

    /* COn esta regla fijamos la imagen en la pantalla. */
    background-attachment: fixed;

    /* La imagen ocupa el 100% y se reescala */
    background-size: cover;

    /* Damos un color de fondo mientras la imagen está cargando  */
    background-color: #464646;
    /* primer componente para el eje x y el segundo eje y */
    padding: 1em 2em;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-decoration-line: underline;    
}
.box {
  background-color: rgba(30, 30, 30, 0.4);
  border-radius: 5px;
  font-family: sans-serif;
  line-height: 1;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  font-family: 'Alegreya Sans SC', sans-serif;
}